.notificationText {
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 20px !important;
  color: #000000 !important;
  align-self: center;
}
.closeIcon {
  align-self: center !important;
  color: #101828 !important;
}
.timeText {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 19.66px !important;
  color: #8477DA !important;
  text-transform: capitalize;
}
.todayText {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 20.8px !important;
  color: #283C46 !important;
  // opacity: 70%;
  text-transform: capitalize;
}
.todayTextLight{
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 20.8px !important;
  color: #283C46 !important;
  // opacity: 70%;
  text-transform: capitalize;;
}
.estimateText {
  font-size: 16.3px !important;
  font-weight: 500 !important;
  line-height: 20.65px !important;
  color: #8477da !important;
  text-transform: capitalize;
}
.cpWrapper {
  border: 1px solid #8477da;
  border-radius: 50%;
  color: #8477da;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffff;
}
.hourText {
  color: rgba(119, 117, 131, 0.76);
  font-size: 14.35px;
  line-height: 11.84px;
}
.archText {
  font-size: 15px !important;
  line-height: 26.6px !important;
  color: rgba(16, 13, 36, 0.57) !important;
}
.summaryTxt {
  font-size: 23px !important;
  font-weight: 700 !important;
  line-height: 28.75px !important;
  color: #1e1e1e !important;
}
.summaryData {
  font-size: 17.25px !important;
  font-weight: 500 !important;
  color: #344054 !important;
}
.estimatebtn {
  background: #8477da !important;
  height: 38px !important;
  text-transform: none !important;
  border-radius: 6px !important;
}
.twTxt {
  font-size: 20.13px !important;
  line-height: 28.75px !important;
  align-items: center !important;
}
.drawerContainer{
   height: 79.5vh;
    overflow-y: auto;
}
.drawerContainer::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  background: none;
  border-radius: 0px;
}
.drawerContainer::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #8477DA;
  height: 91px;
}
@media (max-height: 820px) {
    .drawerContainer{
      height:81vh;
    } 
    .notification{
      height:75vh !important;
    }
}
@media (max-height: 700px) {
    .drawerContainer{
      height:78vh;
    } 
    .notification{
      height:70vh !important;
    }
}