.notificationText {
  font-size: 30px !important;
  font-weight: 500 !important;
  line-height: 38px !important;
  color: #101828 !important;
}
.closeIcon {
  align-self: center !important;
  color: #101828 !important;
}
.todayText {
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 26.6px !important;
  color: rgba(16, 13, 36, 0.57) !important;
  text-transform: capitalize;
}
.todayTextLight{
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 26.6px !important;
  color:#ccc !important;
  text-transform: capitalize;
}
.estimateText {
  font-size: 16.3px !important;
  font-weight: 500 !important;
  line-height: 20.65px !important;
  color: #8477da !important;
  text-transform: capitalize;
}
.cpWrapper {
  border: 1px solid #8477da;
  border-radius: 50%;
  color: #8477da;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffff;
}
.hourText {
  color: rgba(119, 117, 131, 0.76);
  font-size: 14.35px;
  line-height: 11.84px;
}
.archText {
  font-size: 15px !important;
  line-height: 26.6px !important;
  color: rgba(16, 13, 36, 0.57) !important;
}
.summaryTxt {
  font-size: 23px !important;
  font-weight: 700 !important;
  line-height: 28.75px !important;
  color: #1e1e1e !important;
}
.summaryData {
  font-size: 17.25px !important;
  font-weight: 500 !important;
  color: #344054 !important;
}
.estimatebtn {
  background: #8477da !important;
  height: 38px !important;
  text-transform: none !important;
  border-radius: 6px !important;
}
.twTxt {
  font-size: 20.13px !important;
  line-height: 28.75px !important;
  align-items: center !important;
}
.drawerContainer{
   height: 78.5vh;
    overflow-y: auto;
}
.drawerContainer::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  background: none;
  border-radius: 0px;
}
.drawerContainer::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #8477DA;
  height: 91px;
}
@media (max-height: 820px) {
    .drawerContainer{
      height:74vh;
    } 
}
@media (max-height: 700px) {
    .drawerContainer{
      height:72vh;
    } 
}