.Defaults {
  display: flex;
  width: 100%;
  background-color: black;
  .defaultsConatiner {
    flex: 6;
    background-color: white;
    height: 98vh;
  }
  .title {
    font-size: 25px;
    font-weight: 500;
    color: #101828;
    padding: 20px;
  }
  .box {
    padding: 20px;
  }
}
