.summaryTxt {
    font-size: 23px !important;
    font-weight: 700 !important;
    line-height: 28.75px !important;
    color: #1e1e1e !important;
  }
  .summaryData {
    font-size: 17.25px !important;
    font-weight: 500 !important;
    color: #344054 !important;
  }
  .estimatebtn {
    background: #8477da !important;
    height: 38px !important;
    text-transform: none !important;
    border-radius: 6px !important;
  }