.Main{
    background-color: #18133b;
    color: white;
    border-bottom: 1px solid #404040;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;

    .logo{
        padding: 0px;
        margin-top: 10px; 
    }
}
.bottom{
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-top: 2px solid gray;
    padding: 10px;
    .UserIcon{
        margin-right: 16px !important;
    }
    .userInSidebar{
        font-size: 18px !important;
        color: white;
        
    }
    .emailUser{
        font-size: 16px !important;
        color: #F2F4F7;
    }
    .logOutIcon{
        font-size: 16px;
        margin-left: 30px !important;
    }
}
 
.top2{
    display: flex;
    align-items: center;
    justify-content: center;

    .logo2{
        padding: 0px;
        margin-top: 20px; 
    }
}