.custom-textfield {
  background: #fff;
  border-radius: 5px;
  fieldset {
    border-color: #d0d5dd !important;
    
  }
  .Mui-focused {


    fieldset {
      border-color: #8477da !important;
    }
  }

  &:hover {
    fieldset {
      border-color: #8477da !important;
    }
  }
}
.custom-textfield-error {
  fieldset {
    border-color: red !important;
  }
}

.input-label {
  color: black  !important; /* Change color when focused */
}