.section-name-text {
  // font-size: 14px !important;
  font-weight: 400 !important;
  color: rgba(93, 97, 100, 1);
  line-height: 16.41px !important;
  font-family: "Roboto", sans-serif !important;
}

.images-group {
  display: flex;
}
