.layouttitle {
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 32px !important;
    color: #5D6164;
    display: flex;
  }
  .cardTitle{
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }