.heading{
    color: white !important;
    font-size: 32px !important;
    font-weight: 500 !important;
    line-height: 54px !important;
}
.desc{
    color: white !important; 
    font-size: 16px !important; 
}
.title{
    font-size: 120px !important;
     color: goldenrod !important;
}
.desc-box{
    padding: 24px 32px 24px 32px !important;
}
.swiper-button-next{
    right: 0 !important;
}
.swiper-button-prev{
    left: 0 !important;
}