.hardwareTable {
  .cellWrapper {
    display: flex;
    align-items: center;

    .hardwareImg {
      margin-right: 10px;
    }
    .hardwareNameTable {
      font-weight: 500;

      .userNameTable {
        font-size: 11px;
        color: #667085;
      }
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      cursor: pointer;
      color: #667085;
    }
    .deleteButton {
      color: #667085;
      cursor: pointer;
    }
  }
}

.h-page-title {
  padding: 10px;
  h2 {
    font-size: 25px;
    font-weight: 500;
    color: #101828;
  }
}

.HardWareComponent {
  height: calc(100vh - 120px);
}
.HardwareTable {
  height: calc(100vh - 286px);
}
