button {
  cursor: pointer;
}

.auth-form-container,
.login-form,
.reset-form {
  display: flex;
  flex-direction: column;
  margin-top: -22px;
}

label {
  text-align: left;
  padding: 0;
  font-size: 14px;
}

input {
  margin: 0.5rem 0;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
  gap: 8px;
}

.auth-form-container {
  padding: 26px 24px 24px;
  gap: 32px;
  background: #ffffff;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
    0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  border-radius: 12px;
  width: 300px;
}

.cancel,
.forget-pass {
  background-color: white;
  border: none;
  color: #8477da;
  font-weight: 600;
}

.logo-img {
  padding: 20px;
  width: 100%;
  max-width: 150px;
  margin-bottom: 20px;
}

.user-cellWrap {
  display: flex;
  background-color: rgba(239, 242, 246, 1);
  border-radius: 60px;
  padding-right: 10px;
  align-items: center;
  gap: 10px;
}
.project-cellWrap {
  display: flex;
  background-color: #EFF2F6;
  border-radius: 70px;
  padding: 6px 16px 6px 6px;
  align-items: center;
  gap: 10px;
}
.new-customerNameTable {
  font-size: 14px;
  font-weight: 500;
}
.new-userNameTable {
  font-size: 14px !important;
  font-weight: 500 !important;
}
.new-table-text {
  font-size: 14px;
  font-weight: 500;
}
.status-active {
  color: rgba(132, 119, 218, 1);
  background-color: #efecff;
  border-radius: 70px;
  padding: 6px 8px 6px 8px;
  font-weight: 500;
  font-size: 14px;
}
.status-inActive {
  color: rgba(93, 97, 100, 1);
  background-color: #f3f5f6;
  border-radius: 70px;
  padding: 6px 8px 6px 8px;
  font-weight: 500;
  font-size: 14px;
}
.box_disaled {
  background-color: #f0f0f0;
  pointer-events: none; /* Disables all interactions */
  opacity: 0.5; /* Optional: Makes the box look disabled */
}
.ProjectsColumnsHeaderClass{
  background-color: #F3F5F6;
  color: #000000;
  font-size: 14px;
  font-weight: 700 !important;
  line-height: 21px;
}
.MuiDataGrid-columnHeaderTitle {
  font-weight: 700 !important;
}
.input-label-text {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 16.39px !important;
}
.MuiButton-root {
  text-transform: capitalize !important;
  border-radius: 8px !important;
}
/* .MuiDataGrid-cell{
  min-height:70px !important;
}
.MuiDataGrid-row{
  min-height:70px !important;
} */

.toggle-section-container {
  border: 1px solid rgba(208, 213, 221, 1);
  background-color: #f3f5f6 !important;
  color: black !important;
  border-radius: 8px !important;
}

.selected-toggle-button {
  background-color: white !important;
  border-radius: 8px !important;
}

.toggle-button {
  color: #000000 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  border: none !important;
  background-color: transparent;
  text-transform: capitalize !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.toggle-button:hover {
  background-color: white !important;
  border-radius: 8px !important;
}
