button {
  cursor: pointer;
}

.auth-form-container,
.login-form,
.reset-form {
  display: flex;
  flex-direction: column;
  margin-top: -22px;
}

label {
  text-align: left;
  padding: 0;
  font-size: 14px;
}

input {
  margin: 0.5rem 0;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
  gap: 8px;
}

.auth-form-container {
  padding: 26px 24px 24px;
  gap: 32px;
  background: #ffffff;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
    0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  border-radius: 12px;
  width: 300px;
}

.cancel,
.forget-pass {
  background-color: white;
  border: none;
  color: #8477da;
  font-weight: 600;
}

.logo-img {
  padding: 20px;
  width: 100%;
  max-width: 150px;
  margin-bottom: 20px;
}

.user-cellWrap {
  display: flex;
  background-color: rgba(239, 242, 246, 1);
  border-radius: 70px;
  padding: 3px 8px 3px 2px;
  align-items: center;
  gap: 6px;
}

.project-cellWrap {
  display: flex;
  background-color: #eff2f6;
  border-radius: 70px;
  padding: 6px 16px 6px 6px;
  align-items: center;
  gap: 10px;
  max-width: 95%;
}

.new-customerNameTable {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #000000;
}

.new-userNameTable {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.new-table-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #000000;
}

.status-active {
  color: rgba(132, 119, 218, 1);
  background-color: #efecff;
  border-radius: 70px;
  padding: 6px 8px 6px 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.status-inActive {
  color: rgba(93, 97, 100, 1);
  background-color: #f3f5f6;
  border-radius: 70px;
  padding: 6px 8px 6px 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.box_disaled {
  background-color: #f0f0f0;
  pointer-events: none;
  /* Disables all interactions */
  opacity: 0.5;
  /* Optional: Makes the box look disabled */
}

.ProjectsColumnsHeaderClass {
  background-color: #f3f5f6;
  color: #000000;
  font-size: 14px;
  font-weight: 700 !important;
  line-height: 21px;
  font-family: "Roboto", sans-serif !important;
}

.projectRowTxt {
  color: #000000 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 21px !important;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: 700 !important;
}

.input-label-text {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 16.39px !important;
}

.MuiButton-root {
  text-transform: capitalize !important;
  border-radius: 8px !important;
  padding: 10px 16px 10px 16px !important;
  font-family: "Manrope", sans-serif !important;
  line-height: 21.86px !important;
}

.MuiTypography-root {
  font-family: "Manrope", sans-serif !important;
}

/* .MuiDataGrid-cell{
  min-height:70px !important;
}
.MuiDataGrid-row{
  min-height:70px !important;
} */

.toggle-section-container {
  border: 1px solid rgba(208, 213, 221, 1);
  background-color: #f3f5f6 !important;
  color: black !important;
  border-radius: 8px !important;
}

.selected-toggle-button {
  background-color: white !important;
  border-radius: 8px !important;
}

.toggle-button {
  color: #000000 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  border: none !important;
  background-color: transparent;
  text-transform: capitalize !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.toggle-button:hover {
  background-color: white !important;
  border-radius: 8px !important;
}

.disabled-textfield {
  color: rgba(0, 0, 0, 0.38);
  opacity: 0.6;
}

.disabled-text {
  color: rgba(149, 158, 163, 1);
}

.label-text {
  font-size: 12px;
  font-weight: 500;
}

.custom-textfield-purple {
  background: #f6f5ff;
  border-radius: 4px !important;

  fieldset {
    border-color: #8477da !important;
  }

  .Mui-focused {
    fieldset {
      border-color: #8477da !important;
    }
  }

  &:hover {
    fieldset {
      border-color: #8477da !important;
    }
  }
}

.custom-textfield-purple-disabled {
  background: #e5e5e5;
  border-radius: 4px !important;

  fieldset {
    border-color: #d1d4db !important;
  }

  .Mui-focused {
    fieldset {
      border-color: #d1d4db !important;
    }
  }

  &:hover {
    fieldset {
      border-color: #d1d4db !important;
    }
  }
}

.text-sm-samibold {
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 21.86px !important;
}

.text-xs-samibold {
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 21.86px !important;
}

.text-xs-ragular {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 19.12px !important;
}

.text-xs-ragular-bold {
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 19.12px !important;
}

/* Data grid seprator */
.MuiDataGrid-columnSeparator {
  display: none !important;
}

/* table boder color  */
.MuiDataGrid-withBorderColor {
  border-color: #D4DBDF !important;
}

.model-field {
  display: flex;
  flex-direction: column !important;
  gap: 8px
}

.categoryTab {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 16.41px !important;
  color: #000000 !important;
  text-transform: capitalize !important;
  font-family: "Roboto", sans-serif !important;
  /* min-width: 70px !important; */
  padding: 7px 12px !important;
  height: 40px;
  min-height: 40px !important;
}

.categoryTabSelected {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 16.41px !important;
  color: #000000 !important;
  background: #FFFF !important;
  border-radius: 4px !important;
  padding: 7px 12px !important;
  font-family: "Roboto", sans-serif !important;
  /* min-width: 79px !important; */
  height: 40px !important;
  min-height: 36px !important;
}
.estimate-modifcation{
  padding: 16px 0px 16px 16px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 16.41px !important;
  font-family: "Roboto", sans-serif !important;
}

.locationCard {
  width: 448px; 
}

@media (max-width: 1500px) and (min-width: 600px) {
  .locationCard {
    width: 330px;
  }
}

@media (max-width: 599px) {
  .locationCard {
    width: 600px;
  }
}
