.CustomerTable-team {
  padding: 0px;
  background-color: #FFFF;
  .cellWrapper {
    display: flex;
    align-items: center;

    .customerImg {
      margin-right: 10px;
    }
    .customerNameTable {
      font-weight: 500;

      .userNameTable {
        font-size: 11px;
        color: #667085;
      }
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      color: #667085;
      cursor: pointer;
    }
    .deleteButton {
      color: #667085;
      cursor: pointer;
    }
  }
}

.upage-title {
  padding: 20px;
  h2 {
    font-size: 25px;
    font-weight: 500;
    color: #101828;
  }
}
.customHeaderClass-team {
  background-color: #f3f5f6;
color: black;
}
